version: '3.8'

services:
  # -------------------------------------------------------
  # SERVICIO 1: STS (El Autorizador)
  # -------------------------------------------------------
  sts:
    build: 
      context: ./sts-core
      dockerfile: Dockerfile
    container_name: sts-service
    ports:
      - "8080:8080"
    volumes:
      # Montamos las claves como si fuera un Secret de K8s
      - ./keys:/keys
    networks:
      - intranet-segura
    healthcheck:
      # Truco Pro: Python esperará a que esto esté verde
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/public-key"]
      interval: 5s
      retries: 3

  # -------------------------------------------------------
  # SERVICIO 2: APP CLIENTE (El Recurso Protegido)
  # -------------------------------------------------------
  app:
    build: 
      context: ./app-client
      dockerfile: Dockerfile
    container_name: app-tonta
    ports:
      - "3000:3000"
    environment:
      # Inyectamos la URL del STS como variable de entorno
      - STS_URL=http://sts-service:8080/public-key
    depends_on:
      sts:
        condition: service_healthy
    networks:
      - intranet-segura

# -------------------------------------------------------
# REDES
# -------------------------------------------------------
networks:
  intranet-segura:
    driver: bridge
